.homepage {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    /* background-color: green; */

}

nav{
    /* background-color: red; */
    /* position: absolute; */
    /* top: 0; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    /* margin-bottom: 70px; */
    width: 60%;
    height: 20vh;
    /* background-color: red; */
}

.homepage h1 {
    font-size: 50px;
    font-family: "Protest Revolution", sans-serif;
    font-family: "Lobster", sans-serif;
    margin-left: 15px;
    letter-spacing: 5px;
    /* background-color: green; */
    /* margin: 20px auto; */
    margin: auto auto;
}

.navbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: 0;
    box-shadow: 0, 0, 10px, rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    /* background-color: blue; */
}

.navbuttons button {
    width: auto;
    /* padding: 10px; */
    border-radius: 10px;
    margin: 0;
    margin-right: 15px;
    background-color: transparent;
    
}

.uploadbutton {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background-color: green; */
    margin-left: 15px;
}

.uploadbutton button {
    margin: 0;
    margin-left: 15px;
    /* padding: 15px; */
    color: white;
    /* background-color: rgb(105, 103, 103); */
    
}

.uploadbutton input button {
   border: 0;
}



.imagesection {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  /* background-color: green; */
  margin: 5vh auto;
  height: 70vh;
  /* height: auto; */
  overflow-y: auto;
  /* position: relative; */
  /* position: relative; */
  /* background-color: beige; */
  

}

.singleimage {

  width: 23%; /* 4 images in a row, each taking up 24% of the container */
  height: 30%;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);

}

::-webkit-scrollbar {
    width: 10px;
}

