.homepage {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}



/* ****************************NAVBAR********************************** */
nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    width: 60%;
    height: 20vh;
}

nav h1 {
    font-size: 50px;
    font-family: "Protest Revolution", sans-serif;
    font-family: "Lobster", sans-serif;
    margin-left: 15px;
    letter-spacing: 5px;
    margin: auto auto;
}


.navbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: 0;
    box-shadow: 0, 0, 10px, rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.navbuttons button {
    width: auto;
    border-radius: 10px;
    margin: 0;
    margin-right: 15px;
    background-color: transparent; 
}

.uploadsection {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 15px;
}

.uploadsection button {
    margin: 0;
    margin-left: 15px;
    color: white;
}



/* *************************IMAGE SECTION************************* */

.imagesection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  margin: 5vh auto;
  height: 70vh;
  overflow-y: auto;
}

.singleimage {

  width: 23%; /* 4 images in a row, each taking up 24% of the container */
  height: 30%;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);

}

::-webkit-scrollbar {
    width: 0;
    margin: 0;
}

